{% extends "base.html" %}
{% load static %}

{% block title %}Add New Book - Online Library{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'CSS/add_book.css' %}">

<div class="container">
    <h2>Add New Book</h2>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {% if form.errors %}
            <ul class="errorlist">
                {% for field in form %}
                    {% for error in field.errors %}
                        <li>{{ field.label }}: {{ error }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        {% endif %}

        <label for="id">Book ID:</label>
        <input type="text" id="id" name="id" value="{{ form.id.value|default_if_none:'' }}" required>

        <label for="title">Title:</label>
        <input type="text" id="title" name="title" value="{{ form.title.value|default_if_none:'' }}" required>

        <label for="author">Author:</label>
        <input type="text" id="author" name="author" value="{{ form.author.value|default_if_none:'' }}" required>

        <label for="category">Category:</label>
        <input type="text" id="category" name="category" value="{{ form.category.value|default_if_none:'' }}" required>

        <label for="description">Description:</label>
        <textarea id="description" name="description" rows="4" required>{{ form.description.value|default_if_none:'' }}</textarea>
        <label for="photo">Book Photo:</label>
        <input type="file" id="photo" name="photo" accept="image/*">
        <label for="status">Status:</label>
        <select id="status" name="status" required>
            <option value="">-- Select Status --</option>
            <option value="available" {% if form.status.value == "available" %}selected{% endif %}>Available</option>
            <option value="borrowed" {% if form.status.value == "borrowed" %}selected{% endif %}>Borrowed</option>
        </select>
        <div style="display: flex; gap: 15px;">
            <a href="{% url 'admin_book_list' %}" style="background-color: #6c757d; margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: white;">
    Cancel
</a>
            <button type="submit">Add Book</button>
        </div>
    </form>
</div>
{% endblock %}
